<% include ./partials/header %>
  <div class="inverse-masonry-margin masonry-layout-content">
    <h1>Are you a true friend of
      <span><%= username %></span>?</h1>
    <p>
      <%= error %>
    </p>
  </div>
  <form action="/<span><%= username %></span>/results" method="post" id="quizmakerform">
    <div class="masonry-layout">

      <div class="masonry-layout-panel">
        <div class="masonry-layout-content">
          <label for="color"><span><%= username %></span>'s favorite color</label>
          <input type="text" name="color" /><br>
        </div>
      </div>

      <div class="masonry-layout-panel">
        <div class="masonry-layout-content">
          <label for="currentage"><span><%= username %></span>'s current age</label>
          <input type="number" name="currentage" /><br>
        </div>
      </div>

      <div class="masonry-layout-panel">
        <div class="masonry-layout-content">
          <label for="crush"><span><%= username %></span>'s current crush (First Name)</label>
          <input type="text" name="crush" /><br>
        </div>
      </div>

      <div class="masonry-layout-panel">
        <div class="masonry-layout-content">
          <label for="movie"><span><%= username %></span>'s favorite movie</label>
          <input type="text" name="movie" /><br>
        </div>
      </div>

      <div class="masonry-layout-panel">
        <div class="masonry-layout-content">
          <label for="pet">How many total pets has <span><%= username %></span>'s owned?</label>
          <input type="number" name="pet" /><br>
        </div>
      </div>

      <div class="masonry-layout-panel">
        <div class="masonry-layout-content">
          <label for="snack">What is <span><%= username %></span>'s favorite snack?</label>
          <input type="text" name="snack" /><br>
        </div>
      </div>

      <div class="masonry-layout-panel">
        <div class="masonry-layout-content">
          <label for="enemy">Who is <span><%= username %></span>'s enemy (First Name)</label>
          <input type="text" name="enemy" /><br>
        </div>
      </div>

      <div class="masonry-layout-panel">
        <div class="masonry-layout-content">
          <label for="song">What is <span><%= username %></span>'s favorite song? (Don't include artist)</label>
          <input type="text" name="favsong" /><br>
        </div>
      </div>

      <div class="masonry-layout-panel">
        <div class="masonry-layout-content">
          <label for="song">What song would make <span><%= username %></span> cry? (Don't include artist)</label>
          <input type="text" name="sadsong" /><br>
        </div>
      </div>
    </div>
    <div class="masonry-layout-content masonry-inverse-margin">
      <textarea name="message" form="quizmakerform">Enter message here to send to <%= username %></textarea><br>
      <input type="submit" name="Check your score!" />
    </div>
  </form>

  <% include ./partials/footer %>
